<!DOCTYPE html>
<head>
    <title>Logged Out</title>
    <meta name="google-signin-client_id" content="client ID">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
        #partiallyLoggedIn
        {
          display: none;
        }
    </style>
</head>
<body>
    <h1>Welcome to your personal home monitor!</h1>
    <h2>Please use the button below to sign in!</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <div id="partiallyLoggedIn">
      <h3>You have logged in! Use the button below to access your home monitor data!</h3>
      <form action="/register" method="POST">
        <input type="hidden" id="sendID" name="theName" value="">
        <input type="submit" value="View data">
      </form>
    </div>


    <script>
      function onSignIn(googleUser) {
        alert("You have signed in");
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        document.querySelector("#partiallyLoggedIn").style.display = "block";
        document.querySelector("#sendID").value = id_token;
      };
    </script>


  </body>
</html>

